<div class="row mt-4">
  <div class="col-4">
    <div class="list-group">
      <a routerLink="property" routerLinkActive="active" class="list-group-item list-group-item-action">
        Property Binding
      </a>
      <a routerLink="attribute" routerLinkActive="active" class="list-group-item list-group-item-action">
        Attribute Binding
      </a>
      <a routerLink="event" routerLinkActive="active" class="list-group-item list-group-item-action">
        Event Binding
      </a>
    </div>
  </div>

  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
